*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
p.redred{
    color: rgb(139,0,0);
    font-size: 40px;
    text-align: center;
    font-family: 'Noto serif TC','sans-serif';
}
.blueblue{
    color: rgb(35,65,90);
}
body{
    background-color: rgb(220,220,220);
    font-family: 'Noto Sans TC','sans-serif';
}
h1,h2,h3,h4,h5,h6,h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC','sans-serif';
}
.expedu_icon{
    color:rgb(139,0,0);
}
.expedu_icon:hover{
    background-color:rgb(2, 11, 136);
    color:rgb(255, 255, 255);
}